<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
  <header>
    <h1>Noom</h1>
  </header>
  <main>
    <div id="welcome">
      <form>
        <input type="text" placeholder="room name" required>
        <button>Enter Room</button>
      </form>
    </div>
    <div id="room" hidden>
      <h3></h3>
      <ul></ul>
      <form>
        <input type="text" placeholder="message" required>
        <button>Send</button>
      </form>
    </div>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/app.js"></script>
</body>
</html>